#canvas {
  position: absolute;
  border: 3px solid black;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(teal, rgb(1, 32, 32));
  z-index: 0;
  
}

body {
  overflow: hidden;
}

#pause-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  transform: scale(1.5);
  color: black;
  background-color: white;
  border-radius: 3rem;
  z-index: 2;
  box-shadow: 0 0 5px 1px black;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(4);
  color: #90d22b;
  z-index: 2;
}

#paused-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 10, 10, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 2rem;
}

.volume-control {
  position: absolute;
  top: 2rem;
  right: 6rem;
  color: black;
  transform: scale(1.5);
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 0 5px 1px black;
  z-index: 5;
}
.volume-control:hover {
  cursor: pointer;
}

.home-button {
  position: absolute;
  top: 2rem;
  right: 9rem;
  color: black;
  transform: scale(1.5);
  background-color: white;
  border-radius: 3rem;
  z-index: 5;
  box-shadow: 0 0 5px 1px black;
}

.home-button:hover {
  cursor: pointer;
}